nav {
  background: #CB356B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  font-family: "Tillana";
  font-size: larger;
}

/* .with-border {
  border: 2px solid skyblue;
  padding: 8px 16px;
  border-radius: 5px;
} */

nav img {
  width: 50%;
}

.nav-link {
  color: white;
}

.navbar-nav .nav-link.active {
  color: white;
}