nav {
  font-family: 'sans';
  font-size: larger;
}

/* .with-border {
  border: 2px solid skyblue;
  padding: 8px 16px;
  border-radius: 5px;
} */

nav img {
  width: 50%;
}

nav > li > a {
  color: white;
}
